<div class="street-form">
    <form>
        <mat-form-field class="sf-full-width" appearance="legacy">
            <mat-label>Calle</mat-label>
            <input type="text" placeholder="¿Dónde estás?" aria-label="Calle" matInput [formControl]="acStreets"
                [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>

    </form>
</div>