<h1>Tu recibo</h1>
<mat-list id="recibo">
    <mat-list-item> {{"Matrícula: " + matricula}} </mat-list-item>
    <mat-list-item> {{"Calle: " + calle}} </mat-list-item>
    <mat-list-item> {{"Zona: " + color}} </mat-list-item>
    <mat-list-item> {{"Inicio: " + comienzo}} </mat-list-item>
    <mat-list-item> {{"Fin: " + fin}} </mat-list-item>
    <mat-list-item> {{"Precio: " + precio}} </mat-list-item>
</mat-list>
<button class="bt-next" routerLink="/street" type="submit" mat-raised-button style="display: block;">Nueva
    reserva</button>