@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#recibo {
    margin-top: 3%;
    margin-bottom: 3%;
    background: white;
    position: relative;
    font-family: 'VT323';
    width: 20%;
    left: 40%;
    border:  1px solid black;
    
}

::ng-deep .mat-list-item {
    font-family: 'VT323';
    font-size: 100px;
}

::ng-deep .mat-list-base .mat-list-item {
    font-size: 24px;
}